@charset "utf-8";
:root {
    --fundo: #F2F2F2;
    --cor1: #DBD8F2;
    --cor2: #BEB6F2;
    --cor3: #917CA6;
    --fonte: #400C29;

}
/*
#F2F2F2
#DBD8F2
#BEB6F2
#917CA6
#400C29
*/

body {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: rgb(255, 255, 255);
}

.foto {
    width: 100vw;
    height: 300px;
    display: inline-block;
    background-color: white;
    margin: 0;
}
.form-marcacao {
    width: 90vw;
    background-color: var(--cor2);
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    color: black;

}
form {
    padding: 10px 70px;
}
.botao-form {
    
}
.contato {
    margin: 20px 10px;
    border-top: solid 1px  gray;
    border-bottom:  solid 1px  gray;
    text-decoration: none;
}
.contato > p {
    display: inline-flex;
    margin: 20px 40px;
    
}
.footer-sub {
    color: #400C29;
    margin: 10px;
    text-align: center;
}
footer {
    color: #400C29;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-top: solid 1px gray;
    
}
a {
    text-decoration: none;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--cor3);
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    background-color: var(--cor2);
}

/* Style navigation menu links */
.topnav a {
    color: var(--fonte);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: var(--cor2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: var(--cor1);
    color: white;
}

img {
    padding: 5px;
}














